/* font-family: 'Space Mono', monospace; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Space Mono', monospace;
    background-color: #141617 !important;
    color:aliceblue;
}
.navbar {
    background-color: #141617 !important;
    font-family: 'Space Mono', monospace;
}
.btn {
    background-color: #264653 !important;
    color: aliceblue;

}
.modal-content {
    background-color: #374248 !important;
    font-family: 'Space Mono', monospace;
    /* color: #14161    7; */

}

.card {
     color: black;
}